@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Suez+One&display=swap');

.button_task {
    background-color: #1c87c9;
    border-radius: 40px;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}